@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  src: url("../fonts/gilroy/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroy/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  src: url("../fonts/gilroy/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroy/gilroylight.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('../fonts/opensans/opensans.woff2') format('woff2'),
  url('../fonts/opensans/opensans.woff') format('woff'); }


@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url('../fonts/opensans/opensanslight.woff2') format('woff2'),
  url('../fonts/opensans/opensanslight.woff') format('woff'); }



body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  color:  #464646;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #f7e296;
}

.navigation-list__link {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.header-navigation,
.user-navigation,
.catalog-list,
.navigation-list  {
  list-style: none;
}

.header-navigation__link {
  text-decoration: none;
  color:  #000000;
}
.user-navigation__link {
  text-decoration: none;
  color:  #000000; }

.navigation-list__link {
  text-decoration: none;
  color:  #000000;}

.header-navigation  a:hover,
.header-navigation  a:focus,
.user-navigation  a:hover,
.user-navigation  a:focus,
.catalog-list a:hover,
.catalog-list a:focus,
.navigation-list a:hover,
.navigation-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.search-form-field {
  font: inherit;
  background-color: #f7e296;
}

.page-title {
  font-family: 'Gilroy' , sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  color:  #000000;
}

.breadcrumbs {
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
}
.breadcrumbs_link a {
  text-decoration: none;
  color:  rgba(0, 0, 0, 0.3);

}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}


.filter-list ,
.sorting-list ,
.pagination-list {
  font-family: 'Gilroy' ;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  color:  #000000;
  text-transform: uppercase;
}

.filter-difference {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}

.visually-hidden__filter_round-buttons-from ,
.visually-hidden__filter_round-buttons-to {
  font-family: 'Gilroy';
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.filter-color ,
.filter-option {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
  list-style: none;
}

.sorting a,
.increasing-decreasing a {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.pagination-list,
.sorting ,
.increasing-decreasing {
  list-style: none;
}

.pagination-item a,
.button-forward-page a,
.button-back-page a
{
  text-decoration: none;
}

.sorting a:hover,
.sorting a:focus,
.increasing-decreasing a:hover,
.increasing-decreasing a:focus {
  color: #000000;
}

.pagination-list a {
  color: #000000;
}
.pagination-item-current {
  color: #000000;
}
.pagination-item a {
  color:  rgba(0, 0, 0, 0.3);
}
.button-forward-page {
  text-decoration: none;
}

.item-1,
.item-2,
.item-3,
.item-4 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}

.catalog-price {
  font-family: 'Gilroy';
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color:  #464646;
}

.filter-button {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3.6px;
}

}
.filter-button:hover {
  background-color: #f0c52e;
}
.filter-button:focus {
  background-color: #f0c52e;
}
.filter-button:active {
  background-color: #000000;
}



.about-us_Link {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 47px;
  line-height: 1.02;
  letter-spacing: 1px;
  color: #000000;
}

.about-us__link {
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 30px;
  color:  #464646;
}

.transport-company {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  list-style: none;

}

.btn-about__us {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color:  #000000;
  text-decoration: none;
}

.btn-about__us:hover {
  background-color: #f0c52e;
}
.btn-about__us:focus {
  background-color: #f0c52e;
}
.btn-about__us:active {
  background-color: #000000;
}

.btn-write__me {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color:  #000000;
  text-decoration: none;
}

.btn-write__me:hover {
  background-color: #f0c52e;
}
.btn-write__me:focus {
  background-color: #f0c52e;
}
.btn-write__me:active {
  background-color: #000000;
}


.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.footer_user__link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}


.footer-social a,
.footer-copyright a,
.phone_link a,
.site-navigation a {
  color:  #ffffff;
  text-decoration: none;
}

.footer_user,
.footer-social,
.footer-copyright,
.phone_link,
.site-navigation {
  list-style: none;

}

.site-navigation {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  list-style: none;
  text-align: center;
}

.footer-social {
  text-align: center;
}

.footer_user {
  line-height: 30px;
  letter-spacing: 0.15px;
  text-align: right;
}
.footer_user a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

.phone_link {
  text-align: right;
}

.footer-copyright {
  text-align: right;
}

     /*----setka----*/
